<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Fixed top navbar example · Bootstrap v4.6</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/navbar-fixed/">
  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
        crossorigin="anonymous">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/4.6/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.6/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.6/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.6/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.6/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.6/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.6/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.6/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="nav-link" href="/" title="Nexperia documents">
        <span style="font: 0/0 a;
    color: transparent;
    text-shadow: none;
    border: 0;
    height: 75px;
    margin: 0;
    width: 210px;
    display: inline-block;
    background-image: url(https://www.nexperia.com/.resources/nexperia-theme/images/logo-5y.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    -webkit-background-size: contain;
    background-size: contain;">Nexperia released documents</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline mt-2 mt-md-0" #searchForm="ngForm" (ngSubmit)="onSearchDocuments(searchForm)">
      <input class="form-control mr-sm-2" type="text" ngModel name="name" placeholder="Search released documents..." aria-label="Search">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
    </form>
  </div>
</nav>

<main role="main" class="d-flex justify-content-center align-items-center">
  <div class="jumbotron" style="width: fit-content;">
    <h4>Found documents</h4>
    <table class="table table-striped table-hover" style="table-layout: fixed;width: 1500px;">
      <thead>
      <tr>
        <th scope="col">Publication ID</th>
        <th scope="col">Document name</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Descriptive title</th>
        <th scope="col">Document type</th>
        <th scope="col" style="width: 80px">Version</th>
        <th scope="col">System</th>
<!--        <th scope="col">Node UUID</th>-->
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of nexperiaDocuments">
        <td>{{doc?.publicationId}}</td>
        <td>{{doc?.name}}</td>
        <td>{{doc?.title}}</td>
        <td>{{doc?.description}}</td>
        <td>{{doc?.descriptiveTitle}}</td>
        <td>{{doc?.documentType}}</td>
        <td>{{doc?.version}}</td>
        <td>{{doc?.system}}</td>
<!--        <td>{{doc?.nodeUUID}}</td>-->
        <td>
          <a href="{{doc?.viewUrl}}" target="_blank">View</a><br>
          <a href="{{doc?.downloadUrl}}">Download</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>
